/* p {
  margin: 0;
}
.first-div {
  width: 100px;
  background-color: lightpink;
}
.second-div {
  width: 200px;
  background-color: lightblue;
}
.row2-class {
  background-color: black;
  color: white;
}
.container {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.third-div {
  display: flex;
  justify-content: space-between;
} */
/* div {
  font-family: Arial;
}

.img-class {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}
.container {
  align-items: center;
  display: flex;
  width: 400px;
  margin-bottom: 20px;
}
.div-with-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}
.content {
  margin-left: 5px;
  flex: 1;
}
.sender-picture-container {
  margin-right: 10px;
}
.first-container {
  margin: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  width: 400px;
  padding: 10px;
  border-radius: 4px;
} */

div {
  font-family: Arial;
}

.tweet {
  display: flex;
  flex-direction: row;
  width: 420px;
  margin-top: 10px;
  margin-left: 20px;
}

.profile-picture-column {
  margin-right: 10px;
}

.img-class {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
}

.tweet-column {
  flex: 1;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.tweet-author {
  font-weight: bold;
  margin-right: 5px;
}

.tweet-author-handle {
  color: rgb(111, 111, 111);
}

.tweet-content {
  line-height: 20px;
  margin-bottom: 15px;
}

.video-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-radius: 15px;
  overflow: hidden;
}

.thumbnail-column {
  width: 100px;
  height: 100px;
  background-color: rgb(220, 220, 220);
  margin-right: 10px;
}

.video-info-column {
  flex: 1;
}

.video-website {
  color: rgb(111, 111, 111);
  margin-bottom: 3px;
}

.video-title {
  line-height: 22px;
}
