/* p {
  margin: 0;
}
.first-div {
  width: 100px;
  background-color: lightpink;
}
.second-div {
  width: 200px;
  background-color: lightblue;
}
.row2-class {
  background-color: black;
  color: white;
}
.container {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.third-div {
  display: flex;
  justify-content: space-between;
} */
/* div {
  font-family: Arial;
}

.img-class {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}
.container {
  align-items: center;
  display: flex;
  width: 400px;
  margin-bottom: 20px;
}
.div-with-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}
.content {
  margin-left: 5px;
  flex: 1;
}
.sender-picture-container {
  margin-right: 10px;
}
.first-container {
  margin: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  width: 400px;
  padding: 10px;
  border-radius: 4px;
} */
div {
  font-family: Arial;
}

.tweet {
  display: flex;
  width: 400px;
  align-items: top;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.image-div {
  margin-right: 10px;
}
.img-class {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
}

.tweet-header {
  display: flex;
  flex: 1;
}

.video-preview {
  display: flex;
  border: solid rgb(150, 150, 150);
  border-radius: 10px;
  overflow: hidden;
  border-width: 1px;
  align-items: center;
}

.name-class {
  margin-right: 8px;
  font-weight: bold;
  margin-bottom: 5px;
}
.tag-class {
  color: rgb(150, 150, 150);
}
.thumbnail-section {
  width: 100px;
  height: 100px;
  background-color: rgb(220, 220, 220);
}
.paragraph-class {
  line-height: 20px;
  margin-bottom: 20px;
}
.video-title {
  flex: 1;
  padding: 10px;
}
